*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box-login{
    width: 400px;
    height: 300px;
    border: #000 1px solid;
    border-radius: 30px;
    transform: translateY(25%);
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.21); 
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.21);
}

.box-login .login-btn{
    width: fit-content;
    padding: .5rem;
    border-radius: 8px;
    background-color: rgb(173, 88, 252);
    color: #fff;
    font-weight: bolder;
    transform: translateY(120px);
    user-select: none;
}

.box-login .login-btn:hover{
    cursor: pointer;
    background-color: rgb(166, 77, 250);
}

.box-login .login-btn:active{
    cursor: default;
    background-color: rgb(160, 58, 255);
}

